body{
}
#content{

}
img{
    border-right: 500px solid black;
    border-left: 450px solid black;
    height: 1000px;
}
#bimg {
    margin-left: 550px;
    margin-right: 600px;
    margin-top: 30px;
    back
}