.box {
    width: 500px;
    height: 500px;
    float: left;
    border: 1px solid red;
    margin: 150px;
    position: relative;
}
.child{
    width: 50px;
    height: 50px;
    float: left;
    background-color: orange;
    position: fixed;
    top: 100px;
    left: 150px;
}