.header h1{
    color: red;
    font-weight: 700;
    margin-bottom: 50px;
}

.content{
    width: 500px;
    height: 600px;
    border: 1px solid silver;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;

}
.content h3{
    width: 200px;
    padding-left: 10px;
    background-color: white;
    position: absolute;
    top: -30px;
    left: 40px;
    z-index: 1 ;
}
.Details{
    width: 450px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 50px;
    background-color: silver;
}
.text{
    padding: 10px 100px 10px 5px;
    font-size: 18px;
    border-right: 1px solid black;
}
.typee{
    padding: 0px 0px 16px 10px;
    border: 1px solid black;
}
input[type="text"],input[type="number"],input[type="email"]{
    float: left;
}
textarea{
    float: left;
}
.text1 {
    text-align: left;
}



